In [7]:
import pandas as pd

In [2]:
titlerakas = pd.read_csv(r"data/title.akas.tsv", sep = '\t')

NameError: name 'pd' is not defined

In [1]:
titlerakas

NameError: name 'titlerakas' is not defined

In [9]:
titlebasicxs = pd.read_csv(r"data/title.basics.tsv", sep = '\t')
titlebasicxs

/var/folders/g5/7c1snd9s2_x7xpt66lszrj2h0000gn/T/ipykernel_4578/724491367.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titlebasicxs = pd.read_csv(r"data/title.basics.tsv", sep = '\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10716423,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10716424,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10716425,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10716426,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10716427,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [12]:
titlebasicxs['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [ ]:
titlebasicxs[titlebasicxs['titleType'].isin([""])]

In [10]:
titleprincipals = pd.read_csv(r"data/title.principals.tsv", sep = '\t')
titleprincipals

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0005690,producer,producer,\N
3,tt0000001,4,nm0374658,cinematographer,director of photography,\N
4,tt0000002,1,nm0721526,director,\N,\N
...,...,...,...,...,...,...
85314754,tt9916880,18,nm0996406,director,principal director,\N
85314755,tt9916880,19,nm1482639,writer,\N,\N
85314756,tt9916880,20,nm2586970,writer,books,\N
85314757,tt9916880,21,nm1594058,producer,producer,\N
85314758,tt9916880,22,nm1482639,producer,producer,\N

In [11]:
titleratings = pd.read_csv(r"data/title.ratings.tsv", sep = '\t')
titleratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2045
1        tt0000002            5.7       273
2        tt0000003            6.5      2003
3        tt0000004            5.4       178
4        tt0000005            6.2      2763
...            ...            ...       ...
1428850  tt9916730            7.0        12
1428851  tt9916766            7.1        23
1428852  tt9916778            7.2        36
1428853  tt9916840            7.0         9
1428854  tt9916880            8.5         7

[1428855 rows x 3 columns]

In [2]:
import pandas as pd
names = pd.read_csv(r"data/name.basics.tsv", sep = '\t')
names

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0069467"
...,...,...,...,...,...,...
13492071,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
13492072,nm9993716,Essias Loberg,\N,\N,\N,\N
13492073,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
13492074,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
13492075,nm9993719,Andre Hill,\N,\N,writer,\N

In [6]:
import json
s = '{"@context":"https://schema.org","@type":"TVSeries","url":"https://www.imdb.com/title/tt23624082/","name":"Adibou: Aventure dans le corps humain","image":"https://m.media-amazon.com/images/M/MV5BNzZiNTViYTEtODY3YS00YjdmLTlkMGMtNmYzZGIwMDMxMjMyXkEyXkFqcGdeQXVyNjMyODQ4NzQ@._V1_.jpg","aggregateRating":{"@type":"AggregateRating","ratingCount":7,"bestRating":10,"worstRating":1,"ratingValue":8.3},"genre":["Animation"],"datePublished":"2007-02-17","creator":[{"@type":"Organization","url":"https://www.imdb.com/company/co0309427/"}]}'
a = json.loads(s)
type(a)

dict

In [17]:
titlebasicxs["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [26]:
with open("movie_codes.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(titlebasicxs["tconst"]))

In [13]:
# tt9916852
temp = titlebasicxs[titlebasicxs["titleType"].isin(['movie', 'tvMovie', 'tvSeries'])]
with open("movie_codes_all.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(temp["tconst"]))

In [34]:
with open("movie_codes.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(temp["tconst"]))

In [33]:
titleprincipals = pd.read_csv(r"title.principals.tsv", sep = '\t')
titleprincipals

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0005690,producer,producer,\N
3,tt0000001,4,nm0374658,cinematographer,director of photography,\N
4,tt0000002,1,nm0721526,director,\N,\N
...,...,...,...,...,...,...
85314754,tt9916880,18,nm0996406,director,principal director,\N
85314755,tt9916880,19,nm1482639,writer,\N,\N
85314756,tt9916880,20,nm2586970,writer,books,\N
85314757,tt9916880,21,nm1594058,producer,producer,\N
85314758,tt9916880,22,nm1482639,producer,producer,\N

In [12]:
titleratings = pd.read_csv(r"title.ratings.tsv", sep = '\t')
titleratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2045
1        tt0000002            5.7       273
2        tt0000003            6.5      2003
3        tt0000004            5.4       178
4        tt0000005            6.2      2763
...            ...            ...       ...
1428850  tt9916730            7.0        12
1428851  tt9916766            7.1        23
1428852  tt9916778            7.2        36
1428853  tt9916840            7.0         9
1428854  tt9916880            8.5         7

[1428855 rows x 3 columns]

In [3]:
with open("parsed_data.csv", "r", encoding="utf-8") as f:
    text = f.read().splitlines()
columns = ['tconst', 'data']
for t in range(len(text)):
    text[t] = text[t].split(';', 1)

In [6]:
parsed_data = pd.DataFrame(text, columns=columns)
parsed_data

             tconst                                               data
0         tt3224104  {"@context":"https://schema.org","@type":"TVSe...
1        tt23624082  {"@context":"https://schema.org","@type":"TVSe...
2         tt0451543  {"@context":"https://schema.org","@type":"TVSe...
3         tt0000009  {"@context":"https://schema.org","@type":"Movi...
4         tt0189184  {"@context":"https://schema.org","@type":"Movi...
...             ...                                                ...
1347155   tt0090008  {"@context":"https://schema.org","@type":"Movi...
1347156   tt1807070  {"@context":"https://schema.org","@type":"Movi...
1347157  tt32130925  {"@context":"https://schema.org","@type":"Movi...
1347158  tt10670354  {"@context":"https://schema.org","@type":"TVSe...
1347159  tt12032838  {"@context":"https://schema.org","@type":"Movi...

[1347160 rows x 2 columns]

In [5]:
import pandas as pd