In [6]:
import pandas as pd

In [8]:
titlerakas = pd.read_csv(r"title.akas.tsv", sep = '\t')
titlerakas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
48045175,tt9916852,7,エピソード #3.20,JP,ja,\N,\N,0
48045176,tt9916852,8,Episodio #3.20,ES,es,\N,\N,0
48045177,tt9916856,1,The Wind,\N,\N,original,\N,1
48045178,tt9916856,2,The Wind,DE,\N,imdbDisplay,\N,0
48045179,tt9916880,1,Horrid Henry Knows It All,\N,\N,original,\N,1

In [9]:
titlebasicxs = pd.read_csv(r"title.basics.tsv", sep = '\t')
titlebasicxs

C:\Users\mayko\AppData\Local\Temp\ipykernel_3024\3221039770.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titlebasicxs = pd.read_csv(r"title.basics.tsv", sep = '\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10716423,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10716424,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10716425,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10716426,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10716427,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [17]:
titlebasicxs["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [26]:
with open("movie_codes.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(titlebasicxs["tconst"]))

In [36]:
# tt9916852
temp = titlebasicxs[titlebasicxs["titleType"].isin(['movie', 'tvMovie', 'tvSeries'])]
with open("movie_codes.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(temp["tconst"]))

In [34]:
with open("movie_codes.txt", "w", encoding="utf-8") as f:
    f.write("\n".join(temp["tconst"]))

In [33]:
titleprincipals = pd.read_csv(r"title.principals.tsv", sep = '\t')
titleprincipals

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0005690,producer,producer,\N
3,tt0000001,4,nm0374658,cinematographer,director of photography,\N
4,tt0000002,1,nm0721526,director,\N,\N
...,...,...,...,...,...,...
85314754,tt9916880,18,nm0996406,director,principal director,\N
85314755,tt9916880,19,nm1482639,writer,\N,\N
85314756,tt9916880,20,nm2586970,writer,books,\N
85314757,tt9916880,21,nm1594058,producer,producer,\N
85314758,tt9916880,22,nm1482639,producer,producer,\N

In [12]:
titleratings = pd.read_csv(r"title.ratings.tsv", sep = '\t')
titleratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2045
1        tt0000002            5.7       273
2        tt0000003            6.5      2003
3        tt0000004            5.4       178
4        tt0000005            6.2      2763
...            ...            ...       ...
1428850  tt9916730            7.0        12
1428851  tt9916766            7.1        23
1428852  tt9916778            7.2        36
1428853  tt9916840            7.0         9
1428854  tt9916880            8.5         7

[1428855 rows x 3 columns]